.log-image img{
	height: 750px;
	width:500px;

  
}
.login{

    float: right;
    margin-right: 635px;
    border: 2px black;
    height: 25em;
    margin-top: 5%;
    font-family:cursive;
}
a{
    text-decoration: none;
}
h4{
    font-family: cursive;
    align-items: center;
   
}
.login img{
    height: 100px;
}
#check{
    font-family: cursive;
}
#log{
    width: 175px;
    background-color: rgba(0, 183, 255, 0.795);
    color: white;
    height: 2.5rem;
    border-radius: 8px;
    border-color: white;
    font-family: cursive;
}
#Username{
    width: 300px;
}
#Pass{
    width: 300px;
}
#signup{
    width: 175px;
    background-color: rgba(0, 183, 255, 0.795);
    color: white;
    height: 2.5rem;
    border-radius: 8px;
    border-color: white;
    font-family: cursive;
}
.log{
    float: right;
    margin-top: 120px;
    margin-right: 270px;
    font-family: cursive;
}
#pro{
    float: right;
    margin-top: 70px;
}
#email{
    width: 300px;
}
#answer{
    width: 300px;
}
#acc{
    width: 300px;
    color: white;
    border-color: white;
    border-radius: 5px;
    height: 2.5em;
    background-color: rgb(26, 190, 240);
}